.titleSection {
  background-color: var(--main-bg-color);
  padding: 20px;
  height: 460px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  color: white;
  margin: 0;
  font-size: 32px;
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: 700;
  font-style: italic;
}

.title {
  color: white;
  margin: 0;
  font-size: 130px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.subtitle * {
  color: white;
  font-size: 40px;
  margin: 0;
}

.subtitle p:last-child {
  margin-top: 15px;
  margin-left: 200px;
}

@media (max-width: 1600px) {
  .titleSection {
    height: 400px;
  }
  .title {
    font-size: 90px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
  }
  .subtitle * {
    font-size: 35px;
  }
}

@media (max-width: 960px) {
  .titleSection {
    height: 300px;
  }
  .title {
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
  }
  .subtitle * {
    font-size: 25px;
  }
}

@media (max-width: 430px) {
  .titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
  }

  .subtitle * {
    font-size: 25px;
  }
  .subtitle p:last-child {
    margin: 0;
  }
}
