.numbersSection {
  display: flex;
  height: 400px;
  background-color: var(--gray);
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  p {
    margin: 0;
  }
}

.number {
  font-size: 100px;
  font-weight: 800;
}
.word {
  font-size: 25px;
  font-weight: 800;
}
.description {
  font-size: 25px;
  width: 400px;
}
